In [4]:
#Instalamos la librería que vamos a necesitar para abrir el archivo dta
!pip install pyreadstat
# Primero importamos las librerías necesarias para leer y manipular la base de datos
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os
import pyreadstat as prs

Requirement already satisfied: pyreadstat in c:\users\s1290226\appdata\local\anaconda3\envs\terel\lib\site-packages (1.2.8)
Requirement already satisfied: pandas>=1.2.0 in c:\users\s1290226\appdata\local\anaconda3\envs\terel\lib\site-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\s1290226\appdata\local\anaconda3\envs\terel\lib\site-packages (from pandas>=1.2.0->pyreadstat) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\s1290226\appdata\local\anaconda3\envs\terel\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2.9.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\s1290226\appdata\local\anaconda3\envs\terel\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\s1290226\appdata\local\anaconda3\envs\terel\lib\site-packages (from pandas>=1.2.0->pyreadstat) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\s1290226\appdata\local\anaconda3\envs\terel\lib\site-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.16.0)

In [7]:
# Abrimos la carpeta donde se encuentran las bases de datos
os.chdir(r"c:\Users\s1290226\OneDrive - Syngenta\Desktop\UdeSA\Ciencia de datos\CC408-T2-3\TP3")
# Guardamos las bases de datos en en dos variables
ind_2004, meta = prs.read_dta("Individual_t104.dta")
ind_2024 = pd.read_excel("usu_individual_T124.xlsx")

In [8]:
# Filtramos los aglomerados de Ciudad Autónoma de Buenos Aires (2) y Gran Buenos Aires (32)
ind_2004 = ind_2004[ind_2004['aglomerado'].isin([2, 32])]
ind_2024 = ind_2024[ind_2024['AGLOMERADO'].isin([2, 32])]

# Unimos ambas bases de datos
df_unificado = pd.concat([ind_2004, ind_2024], ignore_index=True)
df_unificado.head()

,CODUSU,nro_hogar,componente,h15,ano4,trimestre,region,mas_500,aglomerado,pondera,...,PDECIFR,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH
0,125098,1.0,1.0,1.0,2004.0,1.0,1.0,S,32.0,1299.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,125397,1.0,1.0,1.0,2004.0,1.0,1.0,S,32.0,2018.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,125515,1.0,1.0,1.0,2004.0,1.0,1.0,S,32.0,1486.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,125558,1.0,1.0,1.0,2004.0,1.0,1.0,S,32.0,1674.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,125558,1.0,2.0,1.0,2004.0,1.0,1.0,S,32.0,1674.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN